body
{
    font-family: Domkrat;
}

td
{
    font-family: Domkrat;
}
.sliderA { 
    

    width: 100%;
    height: 50%;
    border: 1px solid #888;
    position: relative;
    text-align: center;
}




.sliderA > input {
    display: none;
}

    .sliderA > input + label {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 15px;
        background: rgba(90, 90, 90, 0.8);
        border: 2px solid rgba(190, 190, 190, 0.8);
        cursor: pointer;
        z-index: 40;
        position: relative;
        margin-right: 4px;
        top: 90%;
        transition: background 0.8s ease-out 0s;
    }

        .sliderA > input + label:hover {
            background: rgba(250, 250, 250, 0.8);
        }

    .sliderA > input:checked + label {
        background: rgba(220, 220, 220, 0.8);
    }

.sliderA > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}
    .sliderA > div {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
    }

    .sliderA > input:checked + label + div {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
    }
    .sliderA > div > p {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        #bar

{
    background: #3F5883 -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.25);
    height: 50px;
    list-style: none;
    margin: 20px auto;
    padding: 0 10px;
    width: 40%;
}





